[user]
	name = Jason Jōb
	email = jason.allan.job@gmail.com
[core]
	excludesfile = ~/.gitignore_global
  editor = nvim
[pull]
	ff = only
[init]
	defaultBranch = main
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
